#logo{
  background-color: black;
  color: white;
  border: white 5px solid;
}

body{
  background-color: white;
}
#encabezado{
  margin-top: 2%;
}
#inicio{
  
  background-color: black;
}

#nusu{
  color: white;
}
#boton{
  height: 20%;
}
