#logo{
  background-color: black;
  color: white;
  border: white 5px solid;
}

body{
  background-color: black;
}
#encabezado{
  margin-top: 2%;
}
#inicio{
  border: white 5px solid;
  background-color: blue;
  text-align: center;
  align-items: center;
}

#nusu{
  color: white;
}
#boton{
  height: 20%;
}
#portada{
  height: 150%;
}
#divportada{
  align-items: center;
  margin-left: 7%;
}
